{% extends 'base.html' %} {% block content %}
<div class="index_content">
  <div class="index_text">
    <a href="{% url 'articles:new' %}">반려식물 자랑하기</a>
  </div>
</div>

<div class="index_table">
  <table>
    <thead>
      <tr class="text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      {% if index %} {% for article in index %}
      <tr class="text-center">
        <td>{{ user.pk }}</td>
        <td>{{ article.title|truncatechars:30 }}</td>
        <td>{{ article.user }}</td>
      </tr>
      {% endfor %} {% else %}
      <tr class="text-center">
        <td colspan="3">작성된 게시글이 없습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
