{% extends 'base.html' %} {% block content %}
<div class="new_content">
  <form method="post" action="{% url 'articles:index' %}">
    {% csrf_token %}
    <label for="title">글 제목:</label>
    <input type="text" name="title" id="title" maxlength="255" required />
    <div class="header">{{ articles.title }}</div>
    <div class="new_summernote" id="summernote"></div>
    <button type="submit">
      <a href="{% url 'articles:index' %}">나의 반려동물 자랑 글 등록하기</a>
    </button>
  </form>

  <script>
    $("#summernote").summernote({
      placeholder: "Hello stand alone ui",
      tabsize: 2,
      height: 120,
      toolbar: [
        ["style", ["style"]],
        ["font", ["bold", "underline", "clear"]],
        ["color", ["color"]],
        ["para", ["ul", "ol", "paragraph"]],
        ["table", ["table"]],
        ["insert", ["link", "picture", "video"]],
        ["view", ["fullscreen", "codeview", "help"]],
      ],
    });
  </script>
  {% endblock %}
</div>
